/* pc.scss
*   - ページ別に適用させるものをまとめたファイル
*/

@use 'mixin' as mix;

// 初めのページ
.top-page {
	position: fixed;
	@include mix.flex-center();
	flex-direction: column;
	inset: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	user-select: none;
	background-color: black;

	.top-title {
		position: relative;
		padding: 0 auto;
		color: white;
		font-size: 6vw;
		text-shadow: -1px 1px 20px black, 0 1px 20px black, 1px 1px 20px black,
			-1px 0 20px black, 1px 0 20px black, -1px -1px 20px black,
			0 -1px 20px black, 1px 0 20px black;
		z-index: 1;
	}

	.top-btn {
		position: relative;
		padding: 0.3em 1.2em;
		font-size: 2em;
		cursor: pointer;
		line-height: normal;
		z-index: 1;
	}

	.manage-link {
		position: absolute;
		top: 90%;
		left: 3%;
		font-size: 1em;
		--color: blue;
		color: var(--color);
		cursor: pointer;
		text-decoration: solid underline 1px var(--color);
		text-shadow: 0px 0px 5px white, 2px 2px 5px white, -2px -2px 5px white;
		transition: color 0.3s;
		z-index: 1;

		&:hover {
			--color: rgba(111, 22, 163, 0.808);
		}
	}
}

// 車メニュー
.car-menu {
	@include mix.flex-center();
	flex-direction: column;
	margin: 0 10vw;
	width: 80vw;
	height: 90vh;

	// セクション要素
	section {
		display: grid;
		grid-template-rows: 5vh 10vh;
		grid-template-columns: 35vw 15vw;
		grid-template-areas:
			'title  img '
			'text   img ';
		margin: 3vh auto;

		background: white;
		border: solid 1px black;
		border-radius: 1vw;
		box-shadow: 5px 5px 10px rgb(51, 51, 51);
		cursor: pointer;
		transition: ease-out 0.5s;
		z-index: 2;

		// セクションの見出し
		h2 {
			grid-area: title;
			top: 0;
			margin: 1.5vh 0 0 4vw;
			font-size: 1.5rem;
		}

		// セクション内の説明文
		p {
			grid-area: text;
			width: auto;
			max-width: 40vw;
			margin-left: 2vw;
			font-size: 0.8rem;

			text-decoration: solid underline 1px gray;
		}

		// セクション内の参考画像
		.img1 {
			@include mix.img-option();
			background-image: url('../assets/images/poster.png');
		}

		.img2 {
			@include mix.img-option();
			background-image: url('../assets/images/poster.png');
		}

		.img3 {
			@include mix.img-option();
			background-image: url('../assets/images/poster.png');
		}

		&:hover {
			background: rgb(223, 223, 223);
			transition: ease-out 0.3s;
			transform: translateY(3%);
		}
	}

	// .bg-img {
	// 	position: fixed;
	// 	inset: 0;
	// 	width: 100vw;
	// 	height: 100vh;
	// 	background-image: url('../assets/images/winter.jpg');
	// 	background-size: cover;

	// 	z-index: -1;
	// }
}

// 新規ルート作成画面
.dest-page {
	header {
		position: sticky;
		inset: 0;
		width: 100vw;
		height: 9.8vh;
		z-index: 10;

		background: rgb(240, 240, 240);
		border-bottom: solid 1px rgb(201, 201, 201);
		box-shadow: 0 1px 20px black;

		h1 {
			font-size: normal;
		}
	}

	.dest-btn {
		height: 4vh;
		margin: 0 25px 0 15px;
		padding: 1px 20px;
		font-size: 1.3rem;
	}

	.tutorial-btn {
		position: fixed;
		right: 15em;
		height: 4vh;
		padding: 1px 18px;
		font-size: 1.3rem;
	}

	.back-btn {
		position: absolute;
		right: 10em;
		height: 4vh;
		padding: 1px 20px;
		font-size: 1.3rem;
	}

	h2 {
		text-align: center;
	}

	p {
		font-size: 1.2em;
	}
}

// 既存ルート選択画面
.exist-page {
	header {
		position: sticky;
		inset: 0;
		width: 100vw;
		height: 9.8vh;
		z-index: 10;

		background: rgb(240, 240, 240);
		border-bottom: solid 1px rgb(201, 201, 201);
		box-shadow: 0 1px 20px black;

		h1 {
			font-size: normal;
		}
	}

	select {
		height: 4vh;
		margin: 0 15px;
		padding: 0 0.2em;

		border-radius: 5px;
		cursor: pointer;
		font-size: 1.1rem;
	}

	.exist-btn {
		height: 4vh;
		margin: 0 25px;
		padding: 0 20px;
		font-size: 1.3rem;
	}

	.map {
		--map-cursor: pointer 12 50, grab;
	}
}

// 車の状況確認画面
.watch-page {
	header {
		position: sticky;
		inset: 0;
		width: 100vw;
		height: 9.8vh;
		z-index: 10;

		background: rgb(240, 240, 240);
		border-bottom: solid 1px rgb(201, 201, 201);
		box-shadow: 0 1px 20px black;

		h1 {
			font-size: normal;
		}
	}

	.watch-btn {
		height: 4vh;
		margin: 0 25px 0 15px;
		padding: 1px 20px;
		font-size: 1.3rem;
	}

	.map {
		--map-cursor: pointer 12 50, grab;
	}

	.battery {
		position: relative;
		inset: 0;
		width: 40px;
		height: 21px;
		margin: 0 2vw;
		padding-right: 2px;

		border: solid 1px white;
		border-radius: 5px;
		outline: solid 2px black;
		outline-style: round($number: 5px);

		&::before {
			position: absolute;
			width: calc(40px - 40px * var(--charge) / 100);
			height: 21px;
			margin: 0 auto;
			padding: 0 0 0 calc(2px * (100 - var(--charge)) / 100);

			background: var(--battery-color);
			border-radius: 3px;
			content: '';
			z-index: -1;
		}
		&::after {
			position: absolute;
			top: 50%;
			right: -5px;
			width: 3px;
			height: 8px;

			border-radius: 0 8px 8px 0;
			background: black;
			content: '';
			transform: translateY(-50%);
		}
		p {
			position: absolute;
			top: -1px;
			left: 55px;
			margin: 0;

			color: white;
			content: '';
			font-size: 1rem;
			text-shadow: -1px -1px 5px black, 0px -1px 5px black,
				1px -1px 5px black, -1px 0px 5px black, 1px 0px 5px black,
				-1px 1px 5px black, 0px 1px 5px black, 1px 1px 5px black;
		}
	}

	.battery-none {
		display: none;
		border: none;
	}
}

// 管理画面
.manage-page {
	@include mix.flex-center();
	flex-direction: column;

	section {
		.img1 {
			background-image: url('../assets/images/path.png');
		}
	}

	.manage-btn {
		min-width: 10vw;
		min-height: 5vh;
		margin: 15vh 0 0 0;
		font-size: 2rem;
	}
}

// 終わりの画面
.end-page {
	@include mix.flex-center();
	flex-direction: column;

	h2 {
		margin-top: 30vh;
		font-size: x-large;
	}

	.end-btn {
		margin-top: 5vh;
		padding: 2px 15px;
		font-size: 20px;
	}
}

// 通行可能領域設定画面
.path-page {
	header {
		position: sticky;
		inset: 0;
		width: 100vw;
		height: 9.8vh;
		z-index: 10;

		background: rgb(240, 240, 240);
		border-bottom: solid 1px rgb(201, 201, 201);
		box-shadow: 0 1px 20px black;

		h1 {
			font-size: normal;
		}
	}

	input {
		max-width: 50px;
		margin-left: 5px;
	}

	.path-btn {
		height: 4vh;
		margin: 0 25px;
		padding: 0 20px;
		font-size: 1.3rem;
	}

	.map {
		--map-cursor: pointer 12 50, grab;
	}
}

// 車一覧画面
.allCar-contents {
	@include mix.flex-center();
	align-content: center;

	.allCar-btn {
		margin-top: 20vh;
		padding: 5px 15px;
		font-size: 20px;
	}
}

// ログイン画面
.login-page {
	@include mix.flex-center();
	flex-direction: column;

	.input-form {
		margin-top: 10vh;
		margin-left: -6.5em;

		input {
			margin-top: 2vh;
			margin-left: 1em;
		}
		label {
			font-size: 1.2em;
		}
	}

	.login-btn {
		margin-top: 3em;
		padding: 5px 15px;
		font-size: 20px;
	}

	.pass-link {
		margin-top: 2em;
		transition: 0.3s;

		&:hover {
			opacity: 60%;
		}
	}

	.exit-btn {
		--btn-color: rgb(180, 26, 26);

		&:hover {
			--btn-color: rgb(126, 19, 19);
			--color: rgb(231, 231, 231);

			transition: background-color 0.3s;
		}
	}
}

// パスワード変更画面
.pass-page {
	@include mix.flex-center();
	flex-direction: column;

	.input-form {
		margin-top: 10vh;
		margin-left: -6.5em;

		input {
			margin-top: 2vh;
			margin-left: 1em;
		}
		label {
			font-size: 1.2em;
		}
	}

	.pass-btn {
		margin-top: 3em;
		padding: 5px 15px;
		font-size: 20px;
	}

	.login-link {
		margin-top: 2em;
		transition: 0.3s;

		&:hover {
			opacity: 60%;
		}
	}
}
